body {
  background-color: #595758;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.container {
  background-color: #FFEEF2;
  width: 600px;
  height: 250px;
  box-shadow: 0 4px 10px #FFE4F3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.titles {
  text-align: center;
  margin-bottom: 20px;
}

.perform {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.perform input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-calculate {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-calculate:hover {
  background-color: darkred;
}

.answer{
  text-align: center;
  margin-bottom: 20px;
  color:rgb(38, 136, 51);
}
