body {
  background-color: #141414 !important;
}

.about-address-info {
  color: greenyellow;
}

.vertical-space {
  padding-bottom: 10px;
}

.personal-card {
  background-color: #1f1f1f !important;
}

.profile-image:hover {
  cursor: grab;
  filter: grayscale(50%);
}

.job-title {
  font-weight: 200;
}

.btn-dark-theme {
  background-color: #333333 !important;
  color: white !important;
}

.btn-dark-theme:hover {
  background-color: #4a4a4a !important;
}

.container {
  display: grid;
  gap: 10px;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
